
uvicorn==0.34.0
fastapi==0.115.6
mxnet==1.9.1
gluonnlp==0.10.0
tqdm==4.67.1
transformers >= 4.8.1, <=4.8.1
sentencepiece >= 0.1.6, <=0.1.96
boto3 <=1.15.18
onnxruntime
numpy==1.23.1
https://download.pytorch.org/whl/cpu/torch-2.5.1%2Bcpu-cp39-cp39-win_amd64.whl#sha256=2ebd0b6135dc60b96ce51349c92c9757b2b9634a6b90045dfab3eb4921a4d62fclick
typing-extensions
h11
starlette
pydantic
pydantic_core
annotated_types
anyio
sniffio
exceptiongroup
requests
urllib3
idna
certifi
regex!=2019
sacremoses
filelock
huggingface_hub
pyyaml
chardet
charset-normalizer
gdown
beautifulsoup4
soupsieve
safetensors
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
