
uvicorn==0.34.0
fastapi==0.115.6
mxnet==1.9.1
gluonnlp==0.10.0
tqdm==4.67.1
transformers >= 4.8.1, <=4.8.1
sentencepiece >= 0.1.6, <=0.1.96
boto3 <=1.15.18
onnxruntime
numpy==1.23.1
https://download.pytorch.org/whl/cpu-cxx11-abi/torch-2.3.0%2Bcpu.cxx11.abi-cp310-cp310-linux_x86_64.whl#sha256=896e8a82f441ff8ae5c8acd2fddd48d9ae1f2738fb8c083b912debbbe09c553bpydantic
pydantic_core
annotated_types
anyio
sniffio
exceptiongroup
requests
urllib3
idna
certifi
regex!=2019
sacremoses
filelock
huggingface_hub
pyyaml
chardet
charset-normalizer
beautifulsoup4
soupsieve
click
typing_extensions
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
